<section>
    <div class="flex  items-center justify-center flex-col  h-full  ">

        <div class=" ">
            <img src="./assets/imgs/avataaars.svg" class="w-40" alt="">

        </div>
        <div class="content  ">

            <h1>START FRAMEWORK</h1>

            <h3 class=""><i class="fa-solid fa-star"></i> </h3>



          <!--   <div class="">
               
            </div>
            <div class="icon relative "><i class="fa-solid fa-star"></i></div> -->

            <p class="text-center text-white">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>


</section>